@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

/* HEADER TOPO DA PAGINA */

.header-top {
  width: 100vw;
  height: 36px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-jordan {
  width: 24px;
  height: 24px;
  padding-left: 48px;
}

.header-top-center {
  background-color: white;
  display: flex;
  width: 146.859px;
  height: 26px;
  padding: 5px 9.8px 5px 10px;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  border-radius: 5px;
}

.header-top-center a {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-top-end {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.header-top-end a {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header-top-end p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-right: 12px;
}

/* HEADER NAVEGADOR CENTRAL */

header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nike-logo {
  padding-left: 38px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
flex-grow: 1;
}



.header-a{margin-left: 177px; }

nav a {
  padding: 11px;
  color: #111;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  cursor: pointer;
}

.nike-logo img {
  width: 78.47px;
  height: 78.47px;
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.input-pesquisar {
  display: flex;
  align-items: center;
  
  width: 180px;
  height: 40px;
  padding: 11px 48px;
  border: none;
  border-radius: 100px;
  background-color: #f5f5f5;
  margin-right: 20px;
  margin-left: auto;
}

.input-pesquisar2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -30px;
  background-color: #f5f5f5;
}

.input-pesquisar2 input{color: #f5f5f5;}

#placeholder-text{width: 100px;
border: none;
}

#placeholder-text::placeholder {
  color: #CCCCCC;
  background-color: #F5F5F5;
 
}


.main-buttons img {
  width: 24px;
  height: 24px;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-right: 12px;
}

#sacola {
  margin-right: 38px;
}

/* HEADER DOWN - ABAIXO DO CENTRAL */

.header-down {
  width: 100vw;
  height: 44px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-down h1 {
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

.header-down p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.header-down a{
  color: #111;
  font-weight: 500;
}

/* MAIN */

.video-main{
  margin: 80px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;

}